<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <style>
    svg {
      outline: 1px black solid;
    }

    .big {
      stroke: red;
      fill-opacity: 0;
    }

    .little {
      stroke: blue;
      fill-opacity: 0;
    }

    pre {
      display: inline-block;
    }
  </style>
</head>
<body ng-app="app">

  <div ng-controller="MainCtrl">
    <h1>focus a field then use up/down arrow</h1>

    <fieldset>
      <legend>Group</legend>
      <label>x <input type="number" ng-model="group.x"></label>
      <label>y <input type="number" ng-model="group.y"></label>
      <label>rotate <input type="number" ng-model="group.rotate"></label>
      <label>rx <input type="number" ng-model="group.rx"></label>
      <label>ry <input type="number" ng-model="group.ry"></label>
      <pre>transform="{{makeTransform(group)}}"</pre>
    </fieldset>
    <fieldset>
      <legend>Big</legend>
      <label>x <input type="number" ng-model="big.x"></label>
      <label>y <input type="number" ng-model="big.y"></label>
      <label>rotate <input type="number" ng-model="big.rotate"></label>
      <label>rx <input type="number" ng-model="big.rx"></label>
      <label>ry <input type="number" ng-model="big.ry"></label>
      <label>width <input type="number" ng-model="big.width"></label>
      <label>height <input type="number" ng-model="big.height"></label>
      <pre>transform="{{makeTransform(big)}}"</pre>
    </fieldset>
    <fieldset>
      <legend>Little</legend>
      <label>x <input type="number" ng-model="little.x"></label>
      <label>y <input type="number" ng-model="little.y"></label>
      <label>rotate <input type="number" ng-model="little.rotate"></label>
      <label>rx <input type="number" ng-model="little.rx"></label>
      <label>ry <input type="number" ng-model="little.ry"></label>
      <label>width <input type="number" ng-model="little.width"></label>
      <label>height <input type="number" ng-model="little.height"></label>
      <pre>transform="{{makeTransform(little)}}"</pre>
    </fieldset>

    <button ng-click="reset()">Reset</button>
    <hr>

    <svg width="800" height="600">
      <defs>
        <rect id="big" class="big" ng-attr-width="{{big.width}}" ng-attr-height="{{big.height}}">
        </rect>
        <rect id="little" class="little" ng-attr-width="{{little.width}}" ng-attr-height="{{little.height}}">
        </rect>
      </defs>

      <g ng-attr-transform="{{makeTransform(group)}}">
        <use xlink:href="#big" ng-attr-transform="{{makeTransform(big)}}"/>
        <use xlink:href="#little" ng-attr-transform="{{makeTransform(little)}}"/>
      </g>
    </svg>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="index.js"></script>
</body>
</html>